<h2>Le nostre Audi</h2>
<div *ngIf="carArr" class="row">
  <div *ngFor="let car of carArr" [ngClass]="car.available ? 'bg-success' : 'bg-danger'" class="col-3 card">
    <img [src]="car.modelImage" class="card-img-top" alt="auto">
    <div id="card-body" class="card-body">
      <h5 class="card-title">{{car.brand}} {{car.model}}</h5>
      <p class="card-text">Anno: {{car.year}}</p>
      <p class="card-text">Prezzo: {{car.price}}</p>
      <button routerLink="/dettaglio" class="btn btn-primary">Dettaglio</button>
    </div>
  </div>
</div>
