/* IMPOSTAZIONI GENERALI */

body {
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/sfondo.png);
    background-position: center;
}

/* HEADER */

header {
    background-image: linear-gradient(to top, rgb(2, 113, 136), rgb(0, 153, 186));
}

.container-heading {
    text-align: center;
    padding: 15px 0;
}

.logo {
    width: 200px;
}

.colore-bianco {
    color: white;
    font-weight: 500;
}

.colore-bianco p {
    padding: 20px 0;
}

.colore-bianco nav {
    padding-bottom: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
}

/* CONTAINER */

.container {
    margin: 20px 0;
    padding: 10px;
    box-shadow: 0 3px 3px #444;
    background-color: white;
}

/* MAIN */

h1 {
    padding: 20px 0 15px 0;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 35px;
}

address {
    color: grey;
    font-size: 0.9em;
}

.primo-p {
    padding: 20px 0;
}

.primo-p span {
    color: rgb(170, 32, 114);
}

.secondo-p {
    padding-bottom: 20px;
}

.ul-main {
    padding: 0 0 30px 30px;
    list-style-type: disc;
    line-height: 25px;
}

.ul-main span {
    background-color: rgb(232, 227, 227);
    border: 2px solid grey;
    border-radius: 5px;
}

.due-p {
    line-height: 20px;
}

.due-p span {
    color: rgb(170, 32, 114);
}

ol {
    padding: 20px 30px;
    list-style-type: decimal;
    line-height: 25px;
}

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

.intro-tab {
    font-size: 0.9em;
    padding-bottom: 20px;
}

table {
    border-bottom: 2px solid rgb(55, 105, 198);
}

caption {
    font-weight: 600;
    font-style: italic;
}

thead {
    background-color: rgb(55, 105, 198);
    color: white;
}

th, td {
    padding: 12px 15px;
    vertical-align: bottom;
    text-align: center;
}

td {
    border-bottom: 1px solid rgb(194, 192, 192) ;
}



tbody tr:nth-of-type(even) {
    background-color: rgb(232, 227, 227);
}

/* FORM */

.video {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
    border-radius: 20px;
}

.p-form {
    padding: 25px 0;
}

.p-form a{
    color: rgb(0, 153, 186);
    text-decoration: underline;
}

.novita {
    padding: 10px;
    background-color: rgb(232, 227, 227);
}

.novita-p {
    text-align: center;
}

.novita-p + p {
    padding: 15px 0;
}

.email-space {
    padding: 5px;
    border: 0;
    border-bottom: 1px dashed #333;
}

button {
    padding: 4px 7px;
    border: 0;
    color: white;
    background-color: rgb(55, 105, 198);
}


/* ELEMENTI NELL' ASIDE */

aside {
    margin-bottom: 25px;
}

.p-articoli {
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
}

.articoli {
    border: 1px solid rgb(194, 192, 192);
    margin-top: 10px;
    padding: 15px;
    background-color: rgb(232, 227, 227);
}

.articoli a {
    color: rgb(0, 153, 186);
}

.categoria {
    margin-top: 4px;
}

.data {
    padding-top: 15px;
    text-align: end;
}

/* FOOTER */

footer {
    color: white;
    text-align: center;
    background-image: linear-gradient(to top, rgb(2, 113, 136), rgb(0, 153, 186))
}
