body {
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
}

main {
    padding: 0 800px;
    text-align: center;
}

.ingredienti {
    padding-bottom: 10px;
    border-bottom: 1px solid aqua;
}

.consigli {
    padding-bottom: 10px;
    border-bottom: 1px solid aqua;
}

.logo-h {
    width: 200px;
}

.div-h {
    background-color: rgb(247, 236, 223);
    height: 40px;
    border-top: 1px solid rgb(133, 84, 20);
}

.div-h span {
    font-weight: 600;
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.sottotitolo {
    margin-top: 0;
}

video {
    height: 500px;
}

aside {
    padding: 0 800px;
    text-align: center;
}

footer {
    text-align: center;
}