<div class="container d-flex flex-wrap">
  <ul class="nav me-auto">
    <li class="nav-item"><a routerLink="/" class="nav-link link-body-emphasis px-2">Home</a></li>
  </ul>
  <ul class="nav">
    <li class="nav-item"><a routerLink="/auth/login" class="nav-link link-body-emphasis px-2">Login</a></li>
    <li class="nav-item"><a routerLink="/auth/register" class="nav-link link-body-emphasis px-2">Sign up</a></li>
    <li class="nav-item"><a routerLink="profilo" class="nav-link link-body-emphasis px-2">Profilo</a></li>
  </ul>
</div>
