/* HEADER */
header {
    font-size: 0.7em;
    position: sticky;
}
header i {
    font-size: 1.2em;
}
.logo {
    width: 100%;
}

@media screen and (max-width: 576px) {
    nav {
        height: 50px;
    }
    button .navbar-toggler-icon {
        width: 1.2em;
        height: 1.2em;
    }
}
@media screen and (min-width: 577px) {
    nav {
        height: 40px;
    }
}
@media screen and (min-width: 992px) {
    nav {
        height: 60px;
    }
    .logo {
        width: 90%;
    }
    .btn-container {
        display: none;
    }
}
.panel {
    gap: 15px;
}
.dropdown-menu[data-bs-popper] {
    right: 0;
}

/* TV SHOWS */
.page-view i {
    font-size: 0.7em;

    border: 1px solid white;
}
.tv-show {
    gap: 2px;
}

/* MAIN */
.carousel-inner {
    height: 100px;
}
.carousel-item {
    height: 100%;
}
.tv-show {
    font-size: 1.6em;
}
main h2 {
    font-size: 1.2em;
}

/* FOOTER */
footer {
    margin-top: 100px;
    font-size: 0.6em;
}
footer i {
    font-size: 1.6em;
}

/*
<header class="container-fluid px-5 mb-3">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <img class="logo" src="./Netflix-assets/assets/netflix_logo.png" alt="">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-light">Home</a></li>
                <li><a href="#" class="nav-link px-2 link-light">TV Shows</a></li>
                <li><a href="#" class="nav-link px-2 link-light">Movies</a></li>
                <li><a href="#" class="nav-link px-2 link-light">Recently Added</a></li>
                <li><a href="#" class="nav-link px-2 link-light">My List</a></li>
            </ul>
            <div class="panel d-flex align-items-center col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <i class="bi bi-search"></i>
                <span>KIDS</span>
                <i class="bi bi-bell-fill"></i>
            </div>
            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none text-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="./Netflix-assets/assets/avatar.png" alt="mdo" width="32" height="32">
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </header>
*/