/* HOME PAGE */

/* HEADER */
header {
    font-size: 0.7em;
    position: sticky;
}
header i {
    font-size: 1.2em;
}
.logo {
    width: 100%;
}
@media screen and (max-width: 576px) {
    nav {
        height: 50px;
    }
    button .navbar-toggler-icon {
        width: 1.2em;
        height: 1.2em;
    }
}
@media screen and (min-width: 577px) {
    nav {
        height: 40px;
    }
}
@media screen and (min-width: 992px) {
    nav {
        height: 60px;
    }
    .logo {
        width: 90%;
    }
    .btn-container {
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    .navbar-nav {
        font-size: 0.7em;
    }
}
.panel {
    gap: 15px;
}

/* TV SHOWS */
.page-view i {
    font-size: 0.7em;

    border: 1px solid white;
}
@media screen and (max-width: 575px) {
    .tv-shows-container {
        display: flex;
        justify-content: space-between;
    }
    .genres {
        display: flex;
        justify-content: end;
    }
}
.tv-shows {
    font-size: 1.5em;
}
@media screen and (min-width: 1200px) {
    .tv-shows {
        font-size: 1.2em;
    }
}

/* MAIN */
.carousel-inner {
    height: 100px;
}
.carousel-item {
    height: 100%;
}
main h2 {
    font-size: 1.2em;
}

/* FOOTER */
footer {
    margin-top: 100px;
    font-size: 0.6em;
}
@media screen and (max-width: 767px) {
    .icon-container {
        display: flex;
        justify-content: center;
    }
    .icon-container i {
        display: flex;
        justify-content: center;
    }
    .btn-footer {
        display: flex;
        justify-content: center;
    }
    footer p {
        display: flex;
        justify-content: center;
    }
}
.icon-container i {
    font-size: 1.6em;
}



/* PROFILE PAGE */

.avatar {
    width: 100%;
}
@media screen and (max-width: 991px) {
    .logo-container {
        display: flex;
        justify-content: center;
    }
    .h2-pro {
        display: flex;
        justify-content: center;
    }
    .btn-container-pro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width: 992px) {
    .main-pro {
        padding: 100px 200px;
    }
    .h2-pro {
        font-size: 3em;
    }
}
@media screen and (min-width: 1200px) {
    .main-pro {
        padding: 100px 300px;
    }
}
@media screen and (min-width: 1400px) {
    .main-pro {
        padding: 100px 350px;
    }
}


.btn-container-pro {
    display: flex;
    justify-content: space-between;
}

