@import './partials/_reset.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

/* HEADER */

    button {
        padding: 0;
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 100%;
    }
    .noti {
        background-position: center;
        background-size: cover;
    }
    .profile {
        background-image: url(../assets/avatar-1.jpg);
        background-position: center;
        background-size: cover;
    }


/* MAIN */
