nav {
    padding: 40px 0;
    display: flex;
    background-color: #FBF7E3;
    border-radius: 100px;
    justify-content: space-evenly;
    gap: 10px;
}

.link-container {
    background-color: #F3DF85;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    flex: 1 0 calc(100%/6) - 10px;
}
nav:nth-child(3) {
    flex: 2 0 calc(100%/7) - 10px;
}
nav a {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.link img {
    display: flex;
    width: 30%;
}