nav {
    padding: 40px 15px;
    display: flex;
    background-color: #FBF7E3;
    border-radius: 50px;
    justify-content: space-evenly;
    gap: 10px;
}

.link-container {
    width: calc(100% / 5);
    background-color: #F3DF85;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
nav:nth-child(3) {
    flex-grow: 1;
}
nav a {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.link img {
    display: flex;
    width: 30%;
}