#tabellone {
    margin-bottom: 20px;
    width: 50%;
    border: solid blueviolet;
    border-radius: 5px;
    flex-wrap: wrap;
    display: flex
}

.number {
    padding: 20px;
    box-sizing: border-box;
    width: 10%;
    text-align: center;
    border: solid rgb(179, 136, 219);
    border-collapse: collapse;
}

.number.selectedNumber {
    background-color: rgb(221, 221, 221);
}

#btn {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: blueviolet;
    font-weight: 600;

}

.random {
    display: inline-block;
    padding: 0 20px;
    margin-left: 10px;
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
}