<div class="row">
  <div class="aside col-3 border">
    <button routerLink="/" class="btn btn-success">Home</button>
    <button routerLink="/users" class="btn btn-primary">Users</button>
    <button routerLink="/completed" class="btn btn-primary">Task Completed</button>

    <form role="search" class="mt-3">
      <input type="search" class="form-control text-dark" placeholder="Search..." aria-label="Search">
    </form>
  </div>

  <div class="main col-9 border">
    <router-outlet></router-outlet>
  </div>
</div>
