<div class="container">
  <h2>post in evidenza</h2>
  <div *ngIf="postArr" class="card">
    <div class="card-body">
      <h5 class="card-title">{{postArr[0].title}}</h5>
      <p class="card-text">{{postArr[0].body}}.</p>
      <p *ngFor="let tag of postArr[0].tags" class="card-text">{{tag}}.</p>
    </div>
  </div>

  <h2>potrebbe interessarti anche</h2>

  <div *ngFor="let post of randArr" class="card">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.body}}.</p>
      <p *ngFor="let tag of post.tags" class="card-text">{{tag}}.</p>
    </div>
  </div>
</div>
