/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato {
    width: 30%;
    box-sizing: border-box;
    padding: 15px 10px;
    margin: 10px;

    border: 1px solid black;

    font-size: 0.8em;
    font-weight: bold;

    position: relative;
}

.parole {
    color: #6A889C;
}

span {
    perspective: 400px;
    transform-style: preserve-3d;
}

i {
    position: absolute;

    opacity: 0;

    animation-name: scorri;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-delay: 1s;
}

@keyframes scorri {
    from {margin-top: 0;}
    to {margin-bottom: 100%;}
}

